@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --cl: #F2F2F2;
}
body{
    min-height: 100vh;
    background: var(--cl);
}
.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #261514;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        justify-content: center;
        width: 350px;
        li{
            position: relative;
            list-style: none;
            width: 50px;
            height: 50px;
            z-index: 1;
            &.active a .icon{
                transform: translateY(-32px);
            }
            &.active a .text{
                color: rgba(242, 242, 242, 1);
                transform: translateY(10px);
            }
            a{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;
                .icon{
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5rem;
                    text-align: center;
                    transition: all 500ms;
                    color: var(--cl);
                }
                .text{
                    position: absolute;
                    color: rgba(242, 242, 242, 0.0);
                    font-weight: 400;
                    font-size: 0.75em;
                    letter-spacing: 0.05em;
                    transition: all 0.5s;
                }
            }
        }
        .indicador{
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: #261514;
            top: -25px;
            border-radius: 50%;
            border: solid 6px #73513D;
            transition: all 0.5s;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: -22px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-top-right-radius: 20px;
                box-shadow: 1px -10px 0 0 #73513D;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: -22px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-top-left-radius: 20px;
                box-shadow: -1px -10px 0 0 #73513D;
            }
        }
    }
}
.main{
    padding: 20px;
    color: #0D0D0D;
    div{
        margin-top: 5rem;
    }
}
.header{
    background-color: #261514;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 17px 52px 3px #F2F1F0;
    .icono{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 2rem;
        text-align: center;
        transition: all 500ms;
        color: var(--cl);
        margin-right: 20px;
    }
    h1{
        font-size: 30px;
        font-weight: 400;
        color: var(--cl);
    }
}
.relleno {
    height: 80px;
}
.tapa {
    background-color: #73513D;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 10px;
}